//- Header
.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/") de Noël
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") HOME
        li
          a(href="#coffee") COFFEE
      ul.nav.navbar-nav.navbar-right
        li
          if session.userEmail == null
            form.account(action="/login", method="post")
              input(type="email", name="email", placeholder="EMAIL")
              input(type="password", name="password" placeholder="Password")
              button.btn(type="submit") Sign In
            p.new-accout New customer?
              a(href="/users/new") Start Here
          else
            .logout
              p Hi, #{session.userName} !
              a(href="/logout")
                button.btn Sign Out
        li
          a(href="/cart")
            span.glyphicon.glyphicon-shopping-cart
            | My Bag
