//- Header
.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/") de Noël
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") HOME
        li
          a(href="#coffee") COFFEE
      ul.nav.navbar-nav.navbar-right
        li
          form.account(method="post")
            input(type="email" placeholder="EMAIL")
            input(type="password" placeholder="Password")
            button.btn(type="submit") Sign in
          p.new-accout New customer?
            a(href="/users/new") Start Here
        li
          a(href="/cart")
            span.glyphicon.glyphicon-shopping-cart
            | My Bag
