//- Header
.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/") de Noël
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") HOME
        li
          a(href="#coffee") COFFEE
      ul.nav.navbar-nav.navbar-right
        li
          if session.userEmail == null
            form.account(action="/login" method="post")
              input(type="email" name="email" placeholder="EMAIL")
              input(type="password" name="password" placeholder="Password")
              button.btn(type="submit") Sign In
            p.new-accout New customer?
              a(href="/users/new") Start Here
          else
            .logout.dropdown
              a.dropdown.dropdown-toggle(href="#" data-toggle="dropdown") Hi, #{session.userName} !
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(href="/users/#{session.userID}/edit") Edit Profile
                li
                  a(href="/users/#{session.userID}/delete") Delete Account
                li.divider
                li
                  a(href="/logout") Sign Out
        li
          a(href="/cart")
            span.glyphicon.glyphicon-shopping-cart
            | My Bag
