doctype html
html
  head
    title Small Online Market
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/javascripts/*.js")
  body
    include header
    include footer
