extends app

block cart
  .container
    h1 My Bag
    table.table
      for item in items
        tr
          td
          td.image(rowspan="2")
            img.img-rounded(src="#{item.item_image}")
          td
            h3.name #{item.item_name}
          td
          td
        tr
          td
          td
          td.information
            span.price Price :
            b $ #{item.item_price}
            span.qty Quantity :
            input(value="#{item.item_count}")
            br
            a.remove Remove
          td.total
          td
      if items.length != 0
        tr
          td
          td
          td
            b SUBTOTAL
          td
            b
          td
    .buttons
      button.btn.check-out CHECKOUT
