@import url(http://fonts.googleapis.com/css?family=Limelight|Montserrat:400,700);

body { font-family: 'Montserrat', sans-serif; }

/* Header */
.navbar-default {
  background-color: #A80000;
  min-height: 70px;
}
.navbar-default .navbar-brand {
  color: #ECECEC;
  font-family: 'Limelight', cursive;
  font-size: 40px;
  padding: 30px 70px 30px 0;
}
.navbar-default .navbar-nav li a {
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 35px 15px 15px 15px;
}
.navbar-default .navbar-right li a {
  font-size: 13px;
  font-weight: 400;
}
.glyphicon { font-size: 17px; }

/* Home Page */
body > .container {
  margin-top: 100px;
  padding-bottom: 50px 0px;
}
.list-unstyled li { padding: 20px 0; }
hr { border-top: 1px solid #796868; }
.coffee {
  background-color: white;
  color: #2C1B13;
  height: 300px;
  padding: 5px;
}
.coffee .img-rounded {
  float: left;
  height: 180px;
  padding: 10px;
  margin: 50px 30px;
  width: 130px;
}
.coffee h2 { color: #6E0000;}
.coffee h4 span {
  font-size: 12px;
  padding-right: 120px;
}
.coffee .stock {
  font-size: 14px;
  padding: 10px 0;
}
.coffee .btn {
  background-color: #6E0000;
  color: #F0EBEB;
}

/* CART Page*/
h1 {
  color: #40000D;
  margin-bottom: 50px;
}
.table tbody tr td {
  padding: 5px;
}
.table > tbody > tr:nth-child(even) > td {
  border-top: none;
}
.image { width: 150px; }
.img-rounded {
  height: 150px;
  padding: 5px;
  width: 100px;
}
.name {
  color: #5e0000;
  font-weight: 700;
}
.information { float: right; }
.price { padding-right: 15px; }
.qty {
  padding-left: 30px;
  padding-right: 15px;
}
.information form { display: inline-block; }
.information input {
  border-radius: 4px;
  padding: 0 5px;
  text-align: center;
  width: 55px;
}
.update {
  cursor: pointer;
  font-size: 9px;
  font-weight: bolder;
  margin-left: 10px;
  padding: 2px 4px;
}
.remove {
  color: #5e0000;
  cursor: pointer;
  font-size: 13px;
  font-weight: bolder;
}
.remove:hover {
  color: #909090;
  text-decoration: none;
}
.subtotal {
  color: #6E0000;
  font-size: 17px;
  position: relative;
  left: 900px;
  top: 5px;
}
.subtotal span { padding-left: 50px; }
.buttons { float: right; }
.buttons .btn {
  background-color: #6E0000;
  color: #F0EBEB;
  margin: 20px;
}
.emptyMSG {
  background-color: #F0EBEB;
  color: #6E0000;
  font-weight: 700;
  padding: 10px;
}
