h1 Sign Up
  br
  span It’s free and always will be.

.container
  form.form-horizontal(role="form", method="post")
    .form-group
      label.col-sm-2.control-label(for="inputEmail3") EMAIL
      .col-sm-10
        input#inputEmail3.form-control(type="email", placeholder="EMAIL")
    .form-group
      label.col-sm-2.control-label(for="inputPassword3") PASSWORD
      .col-sm-10
        input#inputPassword3.form-control(type="password", placeholder="PASSWORD")
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type="submit") CREATE
